/* mukta-regular - latin */
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 400;
  src: local("Mukta Regular"), local("Mukta-Regular"),
    url("./mukta-v7-latin-regular.woff") format("woff");
}
/* mukta-600 - latin */
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 600;
  src: local("Mukta SemiBold"), local("Mukta-SemiBold"),
    url("./mukta-v7-latin-600.woff") format("woff");
}
/* mukta-700 - latin */
@font-face {
  font-family: "Mukta";
  font-style: normal;
  font-weight: 700;
  src: local("Mukta Bold"), local("Mukta-Bold"),
    url("./mukta-v7-latin-700.woff") format("woff");
}
